@font-face {
  font-family: 'Heebo';
  src: url('./fonts/google-fonts/Heebo-Light.woff2') format('woff2'),
       url('./fonts/google-fonts/Heebo-Light.woff')  format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Heebo';
  src: url('./fonts/google-fonts/Heebo-Regular.woff2') format('woff2'),
       url('./fonts/google-fonts/Heebo-Regular.woff')  format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Heebo';
  src: url('./fonts/google-fonts/Heebo-Medium.woff2') format('woff2'),
       url('./fonts/google-fonts/Heebo-Medium.woff')  format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Heebo';
  src: url('./fonts/google-fonts/Heebo-Bold.woff2') format('woff2'),
       url('./fonts/google-fonts/Heebo-Bold.woff')  format('woff');
  font-weight: 700;
}
